

#dashboard{
    .container{
        .row{
            margin-bottom: 100px;
            .card-sub{
                margin-top: 50px;
                .card {
                    border-radius: 15px;
                    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
                    height: 300px;
                    overflow: hidden;
                    width: 250px;
                    text-align: center;
                    margin: 0 30px;
                     &:hover {
                       box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.5);
                     }
                     .card__text{
                        h3{
                            padding-top: 40px;
                            font-size: 40px;
                        }
                        span{
                            display: block;
                        }
                        hr{
                            margin: 10px auto;
                            width: 25%;
                            border: 2px solid blue;
                        }
                        .features {
                            display: flex;
                            flex-direction: column;
                            li {
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                            }
                            
                            .icon {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                width: 20px;
                                height: 20px;
                                svg {
                                    width: 14px;
                                    height: 14px;
                                }
                            }
                            
                            & + * {
                                margin-top: 1.25rem;
                            }
                        }
                     }
                  }

            }

            .box-img{
                img{
                    width: 300px;
                }
                // border: 1px solid black;
            }
            .box-description{
                h2{
                    margin: 50px 0;
                    font-weight: 600;
                }
                ul{
                    li{
                        margin-bottom: 20px;
                        list-style: none;
                        img{
                            width: 60px;
                        }
                        .info{
                            margin-left: 20px;
                            h4{
                                padding-top: 15px;
                            }
                            p{
        
                            }
                        }
                    }
                }
            }
        }
    }
}





@media (max-width: 425px) {
    #dashboard{
        .container{
            .row{
                .card-sub{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    order: 3;
                    .card{
                        margin-bottom: 30px;
                    }
                }
                .box-img{
                   order: 1;
                    
                }
                .box-description{
                    order: 2;
                    ul{
                        padding-left: 0;
                        li{
                            .single-cont{
                                text-align: center;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .info{
                                    margin: 0 auto;
                                    h4{
                                        padding-top: 15px;
                                    }
                                    p{
                
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
   
}