.navbar {
    height: 5rem;
    width: 100vw;
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    
    .container {
        height: 100%;

        .logo {
            height: 100%;

            a {
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }

        .navbar-toggler {    
            // background-color: #fff;
            margin: 15px;
        }
    
        .navbar-collapse {
            flex-grow: 0;
        }
    
        ul {
            margin: 0;
            padding: 15px;

            li {
                height: 100%;
                list-style: none;
                margin: 0 20px;
                transition: 0.5s;

                a {
                    height: 100%;
                    display: block;
                    position: relative;
                    text-decoration: none;
                    padding: 5px;
                    font-size: 16px;
                    font-family: sans-serif;
                    color: #C6AB7C;
                    text-transform: uppercase;
                    transition: 0.5s;            
                    
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                        background: #C6AB7C;
                        transition: 0.5s;
                        transform-origin: right;
                        transform: scaleX(0);
                        z-index: -1;
                    }
                    
                    &:hover:before {
                        transition: transform 0.5s;
                        transform-origin: left;
                        transform: scaleX(1);
                    }
            
                    &:hover{
                        color: #ffffff ;
                        transform: scale(1.1);
                        opacity: 0.95;
                        // filter: blur(0);
                        text-decoration: none;
    
                        // &:not(:hover) {
                        //     filter: blur(1px);
        
                        // }
                    }
                }
                

            }            
        }    
    }
}


@media screen and (max-width: 767.98px) {
    
    .navbar-collapse{
        background-color: rgba($color: #000000, $alpha: 0.6);
        height: 180px;
        border-radius: 20px;
        animation:altezza 0.5s;
    }
    
    
    
    @keyframes altezza{
        from{
            height: 0px;
        }
        to{
            height: 180px;
        }
    }
}